// Button // -----------------------------
$type-default__spinner: rgba(128, 197, 162, 1);
$type-success__spinner: rgba(255, 255, 255, 1);

@mixin button {
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: none;
  transition: all 300ms ease-out;
  font-family: Roboto;
  font-weight: 400;

  &.type-default.size-small.icon.text .iw-icon,
  &.type-default.size-small.icon .iw-icon,
  &.type-default.size-small.text.progress .spinner,
  &.type-default.size-small.icon.text:disabled .iw-icon,
  &.type-default.size-small.icon:disabled .iw-icon,
  &.type-default.size-small.icon.text:hover .iw-icon,
  &.type-default.size-small.icon:hover .iw-icon,
  &.type-default.size-smallest.icon.text .iw-icon,
  &.type-default.size-smallest.text.progress .spinner,
  &.type-default.size-smallest.icon.text:disabled .iw-icon,
  &.type-default.size-smallest.icon.text:hover .iw-icon,
  &.type-default.size-supersmallest.icon.text .iw-icon,
  &.type-default.size-supersmallest.text.progress .spinner,
  &.type-default.size-supersmallest.icon.text:disabled .iw-icon,
  &.type-default.size-supersmallest.icon.text:hover .iw-icon,
  &.type-success.size-small.icon.text .iw-icon,
  &.type-success.size-small.icon .iw-icon,
  &.type-success.size-small.text.progress .spinner,
  &.type-success.size-small.icon.text:disabled .iw-icon,
  &.type-success.size-small.icon:disabled .iw-icon,
  &.type-success.size-small.icon.text:hover .iw-icon,
  &.type-success.size-small.icon:hover .iw-icon,
  &.type-success.size-smallest.icon.text .iw-icon,
  &.type-success.size-smallest.text.progress .spinner,
  &.type-success.size-smallest.icon.text:disabled .iw-icon,
  &.type-success.size-smallest.icon.text:hover .iw-icon,
  &.type-success.size-supersmallest.icon.text .iw-icon,
  &.type-success.size-supersmallest.text.progress .spinner,
  &.type-success.size-supersmallest.icon.text:disabled .iw-icon,
  &.type-success.size-supersmallest.icon.text:hover .iw-icon {
    width: 20px;
    height: 20px;
  }

  &.type-default.size-default.icon.text .iw-icon,
  &.type-default.size-default.icon .iw-icon,
  &.type-default.size-default.text.progress .spinner,
  &.type-default.size-default.icon.text:disabled .iw-icon,
  &.type-default.size-default.icon:disabled .iw-icon,
  &.type-default.size-default.icon.text:hover .iw-icon,
  &.type-default.size-default.icon:hover .iw-icon,
  &.type-success.size-default.icon.text .iw-icon,
  &.type-success.size-default.icon .iw-icon,
  &.type-success.size-default.text.progress .spinner,
  &.type-success.size-default.icon.text:disabled .iw-icon,
  &.type-success.size-default.icon:disabled .iw-icon,
  &.type-success.size-default.icon.text:hover .iw-icon,
  &.type-success.size-default.icon:hover .iw-icon {
    width: 24px;
    height: 24px;
  }

  &.spinner {
    padding: 2px 2px 2px 2px;
  }

  &.type-default.size-default.icon.text .iw-icon,
  &.type-default.size-small.icon.text .iw-icon,
  &.type-default.size-smallest.icon.text .iw-icon {
    color: rgba(0, 0, 0, 1);
  }

  &.type-default.size-default.icon.text:disabled .iw-icon,
  &.type-default.size-default.icon:disabled .iw-icon,
  &.type-default.size-small.icon.text:disabled .iw-icon,
  &.type-default.size-small.icon:disabled .iw-icon,
  &.type-default.size-smallest.icon.text:disabled .iw-icon,
  &.type-default.size-supersmallest.icon.text:disabled .iw-icon {
    color: rgba(204, 204, 204, 1);
  }

  &.type-default.size-default.icon.text:hover .iw-icon,
  &.type-default.size-default.icon:hover .iw-icon,
  &.type-default.size-small.icon.text:hover .iw-icon,
  &.type-default.size-small.icon:hover .iw-icon,
  &.type-default.size-smallest.icon.text:hover .iw-icon,
  &.type-default.size-supersmallest.icon.text:hover .iw-icon,
  &.type-success.size-default.icon.text .iw-icon,
  &.type-success.size-default.icon .iw-icon,
  &.type-success.size-default.text.progress .spinner,
  &.type-success.size-default.icon:disabled .iw-icon,
  &.type-success.size-default.icon.text:hover .iw-icon,
  &.type-success.size-default.icon:hover .iw-icon,
  &.type-success.size-small.icon.text .iw-icon,
  &.type-success.size-small.icon .iw-icon,
  &.type-success.size-small.text.progress .spinner,
  &.type-success.size-small.icon:disabled .iw-icon,
  &.type-success.size-small.icon.text:hover .iw-icon,
  &.type-success.size-small.icon:hover .iw-icon,
  &.type-success.size-smallest.icon.text .iw-icon,
  &.type-success.size-smallest.text.progress .spinner,
  &.type-success.size-smallest.icon.text:hover .iw-icon,
  &.type-success.size-supersmallest.icon.text .iw-icon,
  &.type-success.size-supersmallest.text.progress .spinner,
  &.type-success.size-supersmallest.icon.text:hover .iw-icon {
    color: rgba(255, 255, 255, 1);
  }

  &.type-default.size-default.icon .iw-icon,
  &.type-default.size-small.icon .iw-icon,
  &.type-default.size-supersmallest.icon.text .iw-icon {
    color: rgba(51, 51, 51, 1);
  }

  &.type-default.size-supersmallest.text,
  &.type-default.size-supersmallest.icon.text,
  &.type-default.size-supersmallest.text:disabled,
  &.type-default.size-supersmallest.text.progress,
  &.type-default.size-supersmallest.icon.text:disabled,
  &.type-default.size-supersmallest.text:hover,
  &.type-default.size-supersmallest.icon.text:hover,
  &.type-success.size-supersmallest.text,
  &.type-success.size-supersmallest.icon.text,
  &.type-success.size-supersmallest.text:disabled,
  &.type-success.size-supersmallest.text.progress,
  &.type-success.size-supersmallest.icon.text:disabled,
  &.type-success.size-supersmallest.text:hover,
  &.type-success.size-supersmallest.icon.text:hover {
    height: 24px;
    line-height: 18px;
    font-size: 15px;
  }

  &.type-default.size-smallest.text,
  &.type-default.size-smallest.icon.text,
  &.type-default.size-smallest.text:disabled,
  &.type-default.size-smallest.text.progress,
  &.type-default.size-smallest.icon.text:disabled,
  &.type-default.size-smallest.text:hover,
  &.type-default.size-smallest.icon.text:hover,
  &.type-success.size-smallest.text,
  &.type-success.size-smallest.icon.text,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-smallest.text:hover,
  &.type-success.size-smallest.icon.text:hover {
    height: 30px;
  }

  &.type-default.size-small.text,
  &.type-default.size-small.icon.text,
  &.type-default.size-small.icon,
  &.type-default.size-small.text:disabled,
  &.type-default.size-small.text.progress,
  &.type-default.size-small.icon.text:disabled,
  &.type-default.size-small.icon:disabled,
  &.type-default.size-small.text:hover,
  &.type-default.size-small.icon.text:hover,
  &.type-default.size-small.icon:hover,
  &.type-success.size-small.text,
  &.type-success.size-small.icon.text,
  &.type-success.size-small.icon,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-small.icon:disabled,
  &.type-success.size-small.text:hover,
  &.type-success.size-small.icon.text:hover,
  &.type-success.size-small.icon:hover {
    height: 34px;
  }

  &.type-default.size-default.text,
  &.type-default.size-default.icon.text,
  &.type-default.size-default.icon,
  &.type-default.size-default.text:disabled,
  &.type-default.size-default.text.progress,
  &.type-default.size-default.icon.text:disabled,
  &.type-default.size-default.icon:disabled,
  &.type-default.size-default.text:hover,
  &.type-default.size-default.icon.text:hover,
  &.type-default.size-default.icon:hover,
  &.type-success.size-default.text,
  &.type-success.size-default.icon.text,
  &.type-success.size-default.icon,
  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-default.icon:disabled,
  &.type-success.size-default.text:hover,
  &.type-success.size-default.icon.text:hover,
  &.type-success.size-default.icon:hover {
    height: 36px;
  }

  &.type-default.size-default.text,
  &.type-default.size-default.icon.text,
  &.type-default.size-default.text:disabled,
  &.type-default.size-default.text.progress,
  &.type-default.size-default.icon.text:disabled,
  &.type-default.size-default.text:hover,
  &.type-default.size-default.icon.text:hover,
  &.type-default.size-small.text,
  &.type-default.size-small.icon.text,
  &.type-default.size-small.text:disabled,
  &.type-default.size-small.text.progress,
  &.type-default.size-small.icon.text:disabled,
  &.type-default.size-small.text:hover,
  &.type-default.size-small.icon.text:hover,
  &.type-default.size-smallest.text,
  &.type-default.size-smallest.icon.text,
  &.type-default.size-smallest.text:disabled,
  &.type-default.size-smallest.text.progress,
  &.type-default.size-smallest.icon.text:disabled,
  &.type-default.size-smallest.text:hover,
  &.type-default.size-smallest.icon.text:hover,
  &.type-default.size-supersmallest.text,
  &.type-default.size-supersmallest.icon.text,
  &.type-default.size-supersmallest.text:disabled,
  &.type-default.size-supersmallest.text.progress,
  &.type-default.size-supersmallest.icon.text:disabled,
  &.type-default.size-supersmallest.text:hover,
  &.type-default.size-supersmallest.icon.text:hover,
  &.type-success.size-default.text,
  &.type-success.size-default.icon.text,
  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-default.text:hover,
  &.type-success.size-default.icon.text:hover,
  &.type-success.size-small.text,
  &.type-success.size-small.icon.text,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-small.text:hover,
  &.type-success.size-small.icon.text:hover,
  &.type-success.size-smallest.text,
  &.type-success.size-smallest.icon.text,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-smallest.text:hover,
  &.type-success.size-smallest.icon.text:hover,
  &.type-success.size-supersmallest.text,
  &.type-success.size-supersmallest.icon.text,
  &.type-success.size-supersmallest.text:disabled,
  &.type-success.size-supersmallest.text.progress,
  &.type-success.size-supersmallest.icon.text:disabled,
  &.type-success.size-supersmallest.text:hover,
  &.type-success.size-supersmallest.icon.text:hover {
    padding: 0px 12px 0px 12px;
  }

  &.type-default.size-default.icon,
  &.type-default.size-default.icon:disabled,
  &.type-default.size-default.icon:hover,
  &.type-success.size-default.icon,
  &.type-success.size-default.icon:disabled,
  &.type-success.size-default.icon:hover {
    padding: 0px 6px 0px 6px;
  }

  &.type-default.size-small.icon,
  &.type-default.size-small.icon:disabled,
  &.type-default.size-small.icon:hover,
  &.type-success.size-small.icon,
  &.type-success.size-small.icon:disabled,
  &.type-success.size-small.icon:hover {
    padding: 0px 9px 0px 9px;
  }

  &.type-default.size-default.text:hover,
  &.type-default.size-default.icon.text:hover,
  &.type-default.size-default.icon:hover,
  &.type-default.size-small.text:hover,
  &.type-default.size-small.icon.text:hover,
  &.type-default.size-small.icon:hover,
  &.type-default.size-smallest.text:hover,
  &.type-default.size-smallest.icon.text:hover,
  &.type-default.size-supersmallest.text:hover,
  &.type-default.size-supersmallest.icon.text:hover,
  &.type-success.size-default.text,
  &.type-success.size-default.icon.text,
  &.type-success.size-default.icon,
  &.type-success.size-small.text,
  &.type-success.size-small.icon.text,
  &.type-success.size-small.icon,
  &.type-success.size-smallest.text,
  &.type-success.size-smallest.icon.text,
  &.type-success.size-supersmallest.text,
  &.type-success.size-supersmallest.icon.text {
    border: 1px solid rgba(0, 125, 50, 1);
    background: rgba(0, 125, 50, 1);
  }

  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-supersmallest.text:disabled,
  &.type-success.size-supersmallest.text.progress,
  &.type-success.size-supersmallest.icon.text:disabled {
    border: 1px solid rgba(128, 197, 162, 1);
  }

  &.type-default.size-default.text,
  &.type-default.size-default.icon.text,
  &.type-default.size-default.icon,
  &.type-default.size-default.text:disabled,
  &.type-default.size-default.text.progress,
  &.type-default.size-default.icon.text:disabled,
  &.type-default.size-default.icon:disabled,
  &.type-default.size-small.text,
  &.type-default.size-small.icon.text,
  &.type-default.size-small.icon,
  &.type-default.size-small.text:disabled,
  &.type-default.size-small.text.progress,
  &.type-default.size-small.icon.text:disabled,
  &.type-default.size-small.icon:disabled,
  &.type-default.size-smallest.text,
  &.type-default.size-smallest.icon.text,
  &.type-default.size-smallest.text:disabled,
  &.type-default.size-smallest.text.progress,
  &.type-default.size-smallest.icon.text:disabled,
  &.type-default.size-supersmallest.text,
  &.type-default.size-supersmallest.icon.text,
  &.type-default.size-supersmallest.text:disabled,
  &.type-default.size-supersmallest.text.progress,
  &.type-default.size-supersmallest.icon.text:disabled {
    border: 1px solid rgba(204, 204, 204, 1);
    background: rgba(255, 255, 255, 1);
  }

  &.type-success.size-default.text:hover,
  &.type-success.size-default.icon.text:hover,
  &.type-success.size-default.icon:hover,
  &.type-success.size-small.text:hover,
  &.type-success.size-small.icon.text:hover,
  &.type-success.size-small.icon:hover,
  &.type-success.size-smallest.text:hover,
  &.type-success.size-smallest.icon.text:hover,
  &.type-success.size-supersmallest.text:hover,
  &.type-success.size-supersmallest.icon.text:hover {
    border: 1px solid rgba(70, 131, 201, 1);
    background: rgba(70, 131, 201, 1);
  }

  &.type-success.size-default.icon:disabled,
  &.type-success.size-small.icon:disabled {
    border: none;
    color: rgba(128, 197, 162, 1);
  }

  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-default.icon:disabled,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-small.icon:disabled,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-supersmallest.text:disabled,
  &.type-success.size-supersmallest.text.progress,
  &.type-success.size-supersmallest.icon.text:disabled {
    background: rgba(128, 197, 162, 1);
  }

  &.type-default.size-default.icon:hover,
  &.type-default.size-small.icon:hover,
  &.type-success.size-default.icon,
  &.type-success.size-small.icon {
    color: rgba(0, 125, 50, 1);
  }

  &.type-default.size-default.text:disabled,
  &.type-default.size-default.text.progress,
  &.type-default.size-default.icon.text:disabled,
  &.type-default.size-small.text:disabled,
  &.type-default.size-small.text.progress,
  &.type-default.size-small.icon.text:disabled,
  &.type-default.size-smallest.text:disabled,
  &.type-default.size-smallest.text.progress,
  &.type-default.size-smallest.icon.text:disabled,
  &.type-default.size-supersmallest.text:disabled,
  &.type-default.size-supersmallest.text.progress,
  &.type-default.size-supersmallest.icon.text:disabled {
    color: rgba(204, 204, 204, 1);
  }

  &.type-default.size-default.icon,
  &.type-default.size-default.icon:disabled,
  &.type-default.size-default.text:hover,
  &.type-default.size-default.icon.text:hover,
  &.type-default.size-small.icon,
  &.type-default.size-small.icon:disabled,
  &.type-default.size-small.text:hover,
  &.type-default.size-small.icon.text:hover,
  &.type-default.size-smallest.text:hover,
  &.type-default.size-smallest.icon.text:hover,
  &.type-default.size-supersmallest.text:hover,
  &.type-default.size-supersmallest.icon.text:hover,
  &.type-success.size-default.text,
  &.type-success.size-default.icon.text,
  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-default.text:hover,
  &.type-success.size-default.icon.text:hover,
  &.type-success.size-small.text,
  &.type-success.size-small.icon.text,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-small.text:hover,
  &.type-success.size-small.icon.text:hover,
  &.type-success.size-smallest.text,
  &.type-success.size-smallest.icon.text,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-smallest.text:hover,
  &.type-success.size-smallest.icon.text:hover,
  &.type-success.size-supersmallest.text,
  &.type-success.size-supersmallest.icon.text,
  &.type-success.size-supersmallest.text:disabled,
  &.type-success.size-supersmallest.text.progress,
  &.type-success.size-supersmallest.icon.text:disabled,
  &.type-success.size-supersmallest.text:hover,
  &.type-success.size-supersmallest.icon.text:hover {
    color: rgba(255, 255, 255, 1);
  }

  &.type-default.size-default.text,
  &.type-default.size-default.icon.text,
  &.type-default.size-small.text,
  &.type-default.size-small.icon.text,
  &.type-default.size-smallest.text,
  &.type-default.size-smallest.icon.text,
  &.type-default.size-supersmallest.text,
  &.type-default.size-supersmallest.icon.text {
    color: rgba(51, 51, 51, 1);
  }

  &.type-success.size-default.icon:hover,
  &.type-success.size-small.icon:hover {
    color: rgba(70, 131, 201, 1);
  }

  &.type-default.size-default.text,
  &.type-default.size-default.icon.text,
  &.type-default.size-default.text:disabled,
  &.type-default.size-default.text.progress,
  &.type-default.size-default.icon.text:disabled,
  &.type-default.size-default.text:hover,
  &.type-default.size-default.icon.text:hover,
  &.type-default.size-small.text,
  &.type-default.size-small.icon.text,
  &.type-default.size-small.text:disabled,
  &.type-default.size-small.text.progress,
  &.type-default.size-small.icon.text:disabled,
  &.type-default.size-small.text:hover,
  &.type-default.size-small.icon.text:hover,
  &.type-default.size-smallest.text,
  &.type-default.size-smallest.icon.text,
  &.type-default.size-smallest.text:disabled,
  &.type-default.size-smallest.text.progress,
  &.type-default.size-smallest.icon.text:disabled,
  &.type-default.size-smallest.text:hover,
  &.type-default.size-smallest.icon.text:hover,
  &.type-success.size-default.text,
  &.type-success.size-default.icon.text,
  &.type-success.size-default.text:disabled,
  &.type-success.size-default.text.progress,
  &.type-success.size-default.icon.text:disabled,
  &.type-success.size-default.text:hover,
  &.type-success.size-default.icon.text:hover,
  &.type-success.size-small.text,
  &.type-success.size-small.icon.text,
  &.type-success.size-small.text:disabled,
  &.type-success.size-small.text.progress,
  &.type-success.size-small.icon.text:disabled,
  &.type-success.size-small.text:hover,
  &.type-success.size-small.icon.text:hover,
  &.type-success.size-smallest.text,
  &.type-success.size-smallest.icon.text,
  &.type-success.size-smallest.text:disabled,
  &.type-success.size-smallest.text.progress,
  &.type-success.size-smallest.icon.text:disabled,
  &.type-success.size-smallest.text:hover,
  &.type-success.size-smallest.icon.text:hover {
    line-height: 22px;
    font-size: 16px;
  }

}