@mixin buttons {
  padding: 0px 0px 0px 0px;
  border: none;
  align-items: top;
  justify-content: left;
  gap: 0px;
  box-shadow: none;
  transition: none;

  &.type-secondary.size-l.text.progress .spinner,
  &.type-secondary.size-m.text.progress .spinner,
  &.type-secondary.size-s.text.progress .spinner,
  &.type-primary.size-l.text.progress .spinner,
  &.type-primary.size-m.text.progress .spinner {
    height: 20px;
  }

  &.type-secondary.size-xl.text.progress .spinner {
    height: 24px;
  }

  &.type-secondary.size-l.text.progress .spinner,
  &.type-secondary.size-m.text.progress .spinner,
  &.type-secondary.size-s.text.progress .spinner,
  &.type-primary.size-l.text.progress .spinner,
  &.type-primary.size-m.text.progress .spinner,
  &.type-primary.size-s.text.progress .spinner,
  &.type-secondary.size-xl.text.progress .spinner {
    background: rgba(255, 255, 255, 1);
  }

}