// Input // -----------------------------

@mixin input {
  height: 36px;
  padding: 6px 8px 6px 8px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: none;
  font-family: Roboto;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;

  .closeIcon,
  &.leadingicon .closeIcon,
  &.trailingicon .closeIcon,
  &.leadingicon.trailingicon .CloseIcon,
  &.filled .CloseIcon,
  &.leadingicon.filled .CloseIcon,
  &.filled.trailingicon .CloseIcon,
  &.leadingicon.filled.trailingicon .CloseIcon,
  &:disabled .CloseIcon,
  &.leadingicon:disabled .CloseIcon,
  &.trailingicon:disabled .CloseIcon,
  &.leadingicon.trailingicon:disabled .CloseIcon,
  &.filled:disabled .CloseIcon,
  &.leadingicon.filled:disabled .CloseIcon,
  &.filled.trailingicon:disabled .CloseIcon,
  &.leadingicon.filled.trailingicon:disabled .CloseIcon,
  &:hover .closeIcon,
  &.leadingicon:hover .closeIcon,
  &.trailingicon:hover .closeIcon,
  &.leadingicon.trailingicon:hover .CloseIcon,
  &.filled:hover .CloseIcon,
  &.leadingicon.filled:hover .CloseIcon,
  &.filled.trailingicon:hover .CloseIcon,
  &.leadingicon.filled.trailingicon:hover .CloseIcon,
  &.active .CloseIcon,
  &.leadingicon.active .CloseIcon,
  &.trailingicon.active .CloseIcon,
  &.leadingicon.trailingicon.active .CloseIcon,
  &.filled.error .CloseIcon,
  &.leadingicon.filled.error .CloseIcon,
  &.filled.trailingicon.error .CloseIcon,
  &.leadingicon.filled.trailingicon.error .CloseIcon,
  &.filled:hover.error .CloseIcon,
  &.leadingicon.filled:hover.error .CloseIcon,
  &.filled.trailingicon:hover.error .CloseIcon,
  &.leadingicon.filled.trailingicon:hover.error .CloseIcon {
    height: 14px;
  }

  .leaingIcon,
  .trailingIcon,
  &.leadingicon .trailingIcon,
  &.trailingicon .leaingIcon,
  &.filled .LeaingIcon,
  &.filled .TrailingIcon,
  &.leadingicon.filled .TrailingIcon,
  &.filled.trailingicon .LeaingIcon,
  &:disabled .LeaingIcon,
  &:disabled .TrailingIcon,
  &.leadingicon:disabled .TrailingIcon,
  &.trailingicon:disabled .LeaingIcon,
  &.filled:disabled .LeaingIcon,
  &.filled:disabled .TrailingIcon,
  &.leadingicon.filled:disabled .TrailingIcon,
  &.filled.trailingicon:disabled .LeaingIcon,
  &:hover .leaingIcon,
  &:hover .trailingIcon,
  &.leadingicon:hover .trailingIcon,
  &.trailingicon:hover .leaingIcon,
  &.filled:hover .LeaingIcon,
  &.filled:hover .TrailingIcon,
  &.leadingicon.filled:hover .TrailingIcon,
  &.filled.trailingicon:hover .LeaingIcon,
  &.active .LeaingIcon,
  &.active .TrailingIcon,
  &.leadingicon.active .TrailingIcon,
  &.trailingicon.active .LeaingIcon,
  &.filled.closeicon.active .LeaingIcon,
  &.filled.closeicon.active .TrailingIcon,
  &.leadingicon.filled.closeicon.active .TrailingIcon,
  &.filled.closeicon.trailingicon.active .LeaingIcon,
  &.filled.error .LeaingIcon,
  &.filled.error .TrailingIcon,
  &.leadingicon.filled.error .TrailingIcon,
  &.filled.trailingicon.error .LeaingIcon,
  &.filled:hover.error .LeaingIcon,
  &.filled:hover.error .TrailingIcon,
  &.leadingicon.filled:hover.error .TrailingIcon,
  &.filled.trailingicon:hover.error .LeaingIcon,
  &.filled.closeicon.active.error .LeaingIcon,
  &.filled.closeicon.active.error .TrailingIcon,
  &.leadingicon.filled.closeicon.active.error .TrailingIcon,
  &.filled.closeicon.trailingicon.active.error .LeaingIcon {
    height: 16px;
  }

  &.leadingicon .platformKey,
  &.trailingicon .platformEye,
  &.leadingicon.trailingicon .platformKey,
  &.leadingicon.trailingicon .platformEye,
  &.leadingicon.filled .platformKey,
  &.filled.trailingicon .platformEye,
  &.leadingicon.filled.trailingicon .platformKey,
  &.leadingicon.filled.trailingicon .platformEye,
  &.leadingicon:disabled .platformKey,
  &.trailingicon:disabled .platformEye,
  &.leadingicon.trailingicon:disabled .platformKey,
  &.leadingicon.trailingicon:disabled .platformEye,
  &.leadingicon.filled:disabled .platformKey,
  &.filled.trailingicon:disabled .platformEye,
  &.leadingicon.filled.trailingicon:disabled .platformKey,
  &.leadingicon.filled.trailingicon:disabled .platformEye,
  &.leadingicon:hover .platformKey,
  &.trailingicon:hover .platformEye,
  &.leadingicon.trailingicon:hover .platformKey,
  &.leadingicon.trailingicon:hover .platformEye,
  &.leadingicon.filled:hover .platformKey,
  &.filled.trailingicon:hover .platformEye,
  &.leadingicon.filled.trailingicon:hover .platformKey,
  &.leadingicon.filled.trailingicon:hover .platformEye,
  &.leadingicon.active .platformKey,
  &.trailingicon.active .platformEye,
  &.leadingicon.trailingicon.active .platformKey,
  &.leadingicon.trailingicon.active .platformEye,
  &.filled.closeicon.active .platformCross,
  &.leadingicon.filled.closeicon.active .platformKey,
  &.leadingicon.filled.closeicon.active .platformCross,
  &.filled.closeicon.trailingicon.active .platformCross,
  &.filled.closeicon.trailingicon.active .platformEye,
  &.leadingicon.filled.closeicon.trailingicon.active .platformKey,
  &.leadingicon.filled.closeicon.trailingicon.active .platformCross,
  &.leadingicon.filled.closeicon.trailingicon.active .platformEye,
  &.leadingicon.filled.error .platformKey,
  &.filled.trailingicon.error .platformEye,
  &.leadingicon.filled.trailingicon.error .platformKey,
  &.leadingicon.filled.trailingicon.error .platformEye,
  &.leadingicon.filled:hover.error .platformKey,
  &.filled.trailingicon:hover.error .platformEye,
  &.leadingicon.filled.trailingicon:hover.error .platformKey,
  &.leadingicon.filled.trailingicon:hover.error .platformEye,
  &.filled.closeicon.active.error .platformCross,
  &.leadingicon.filled.closeicon.active.error .platformKey,
  &.leadingicon.filled.closeicon.active.error .platformCross,
  &.filled.closeicon.trailingicon.active.error .platformCross,
  &.filled.closeicon.trailingicon.active.error .platformEye,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformKey,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformCross,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformEye {
    height: 20px;
  }

  &.leadingicon.trailingicon .Font,
  &.filled .Font,
  &.leadingicon.filled .Font,
  &.filled.trailingicon .Font,
  &.leadingicon.filled.trailingicon .Font,
  &:disabled .Font,
  &.leadingicon:disabled .Font,
  &.trailingicon:disabled .Font,
  &.leadingicon.trailingicon:disabled .Font,
  &.filled:disabled .Font,
  &.leadingicon.filled:disabled .Font,
  &.filled.trailingicon:disabled .Font,
  &.leadingicon.trailingicon:hover .Font,
  &.filled:hover .Font,
  &.leadingicon.filled:hover .Font,
  &.filled.trailingicon:hover .Font,
  &.leadingicon.filled.trailingicon:hover .Font,
  &.active .Font,
  &.leadingicon.active .Font,
  &.trailingicon.active .Font,
  &.leadingicon.trailingicon.active .Font,
  &.filled.closeicon.active .Font,
  &.leadingicon.filled.closeicon.active .Font,
  &.filled.closeicon.trailingicon.active .Font,
  &.leadingicon.filled.closeicon.trailingicon.active .Font,
  &.filled.error .Font,
  &.leadingicon.filled.error .Font,
  &.filled.trailingicon.error .Font,
  &.leadingicon.filled.trailingicon.error .Font,
  &.filled:hover.error .Font,
  &.leadingicon.filled:hover.error .Font,
  &.filled.trailingicon:hover.error .Font,
  &.leadingicon.filled.trailingicon:hover.error .Font,
  &.filled.closeicon.active.error .Font,
  &.leadingicon.filled.closeicon.active.error .Font,
  &.filled.closeicon.trailingicon.active.error .Font,
  &.leadingicon.filled.closeicon.trailingicon.active.error .Font {
    height: 22px;
  }

  ::placeholder,
  ::placeholder,
  ::placeholder,
  ::placeholder,
  &.filled .Placeholder,
  &.leadingicon.filled .Placeholder,
  &.filled.trailingicon .Placeholder,
  &.leadingicon.filled.trailingicon .Placeholder,
  &:disabled .Placeholder,
  &.leadingicon:disabled .Placeholder,
  &.trailingicon:disabled .Placeholder,
  &.leadingicon.trailingicon:disabled .Placeholder,
  &.filled:disabled .Placeholder,
  &.leadingicon.filled:disabled .Placeholder,
  &.filled.trailingicon:disabled .Placeholder,
  ::placeholder,
  ::placeholder,
  ::placeholder,
  ::placeholder,
  &.leadingicon.trailingicon:hover .Placeholder,
  &.filled:hover .Placeholder,
  &.leadingicon.filled:hover .Placeholder,
  &.filled.trailingicon:hover .Placeholder,
  &.leadingicon.filled.trailingicon:hover .Placeholder,
  &.active .Placeholder,
  &.leadingicon.active .Placeholder,
  &.trailingicon.active .Placeholder,
  &.leadingicon.trailingicon.active .Placeholder,
  &.filled.closeicon.active .Placeholder,
  &.leadingicon.filled.closeicon.active .Placeholder,
  &.filled.closeicon.trailingicon.active .Placeholder,
  &.leadingicon.filled.closeicon.trailingicon.active .Placeholder,
  &.filled.error .Placeholder,
  &.leadingicon.filled.error .Placeholder,
  &.filled.trailingicon.error .Placeholder,
  &.leadingicon.filled.trailingicon.error .Placeholder,
  &.filled:hover.error .Placeholder,
  &.leadingicon.filled:hover.error .Placeholder,
  &.filled.trailingicon:hover.error .Placeholder,
  &.leadingicon.filled.trailingicon:hover.error .Placeholder,
  &.filled.closeicon.active.error .Placeholder,
  &.leadingicon.filled.closeicon.active.error .Placeholder,
  &.filled.closeicon.trailingicon.active.error .Placeholder,
  &.leadingicon.filled.closeicon.trailingicon.active.error .Placeholder {
    height: 24px;
  }

  .platformEye {
    padding: 0px 0px 0px 0px;
    border: none;
    background: transparent;
    align-items: top;
    justify-content: left;
    gap: 0px;
    box-shadow: none;
  }

  &.leadingicon .platformKey,
  &.trailingicon .platformEye,
  &.leadingicon.trailingicon .platformKey,
  &.leadingicon.trailingicon .platformEye,
  &.leadingicon:hover .platformKey,
  &.trailingicon:hover .platformEye,
  &.leadingicon.trailingicon:hover .platformKey,
  &.leadingicon.trailingicon:hover .platformEye {
    color: rgba(128, 128, 128, 1);
  }

  .leaingIcon,
  ::placeholder,
  .closeIcon,
  .trailingIcon,
  ::placeholder,
  &.leadingicon .closeIcon,
  &.leadingicon .trailingIcon,
  &.trailingicon .leaingIcon,
  ::placeholder,
  &.trailingicon .closeIcon,
  ::placeholder,
  &.leadingicon.trailingicon .CloseIcon,
  &.filled .LeaingIcon,
  &.filled .Placeholder,
  &.filled .CloseIcon,
  &.filled .TrailingIcon,
  &.leadingicon.filled .Placeholder,
  &.leadingicon.filled .CloseIcon,
  &.leadingicon.filled .TrailingIcon,
  &.filled.trailingicon .LeaingIcon,
  &.filled.trailingicon .Placeholder,
  &.filled.trailingicon .CloseIcon,
  &.leadingicon.filled.trailingicon .Placeholder,
  &.leadingicon.filled.trailingicon .CloseIcon,
  ::placeholder,
  ::placeholder,
  ::placeholder,
  &.leadingicon.trailingicon:hover .Placeholder,
  &.filled:hover .Placeholder,
  &.leadingicon.filled:hover .Placeholder,
  &.filled.trailingicon:hover .Placeholder,
  &.leadingicon.filled.trailingicon:hover .Placeholder,
  &.active .Placeholder,
  &.leadingicon.active .Placeholder,
  &.trailingicon.active .Placeholder,
  &.leadingicon.trailingicon.active .Placeholder,
  &.filled.closeicon.active .Placeholder,
  &.leadingicon.filled.closeicon.active .Placeholder,
  &.filled.closeicon.trailingicon.active .Placeholder,
  &.leadingicon.filled.closeicon.trailingicon.active .Placeholder,
  &.filled.error .LeaingIcon,
  &.filled.error .Placeholder,
  &.filled.error .CloseIcon,
  &.filled.error .TrailingIcon,
  &.leadingicon.filled.error .Placeholder,
  &.leadingicon.filled.error .CloseIcon,
  &.leadingicon.filled.error .TrailingIcon,
  &.filled.trailingicon.error .LeaingIcon,
  &.filled.trailingicon.error .Placeholder,
  &.filled.trailingicon.error .CloseIcon,
  &.leadingicon.filled.trailingicon.error .Placeholder,
  &.leadingicon.filled.trailingicon.error .CloseIcon,
  &.filled:hover.error .Placeholder,
  &.leadingicon.filled:hover.error .Placeholder,
  &.filled.trailingicon:hover.error .Placeholder,
  &.leadingicon.filled.trailingicon:hover.error .Placeholder,
  &.filled.closeicon.active.error .Placeholder,
  &.leadingicon.filled.closeicon.active.error .Placeholder,
  &.filled.closeicon.trailingicon.active.error .Placeholder,
  &.leadingicon.filled.closeicon.trailingicon.active.error .Placeholder {
    color: rgba(132, 132, 132, 1);
  }

  &:disabled .LeaingIcon,
  &:disabled .CloseIcon,
  &:disabled .TrailingIcon,
  &.leadingicon:disabled .CloseIcon,
  &.leadingicon:disabled .TrailingIcon,
  &.trailingicon:disabled .LeaingIcon,
  &.trailingicon:disabled .CloseIcon,
  &.leadingicon.trailingicon:disabled .CloseIcon,
  &.filled:disabled .LeaingIcon,
  &.filled:disabled .Placeholder,
  &.filled:disabled .CloseIcon,
  &.filled:disabled .TrailingIcon,
  &.leadingicon.filled:disabled .Placeholder,
  &.leadingicon.filled:disabled .CloseIcon,
  &.leadingicon.filled:disabled .TrailingIcon,
  &.filled.trailingicon:disabled .LeaingIcon,
  &.filled.trailingicon:disabled .Placeholder,
  &.filled.trailingicon:disabled .CloseIcon,
  ::placeholder,
  &.leadingicon.filled.trailingicon:disabled .CloseIcon {
    color: rgba(190, 190, 190, 1);
  }

  &:disabled .Placeholder,
  &.leadingicon:disabled .platformKey,
  &.leadingicon:disabled .Placeholder,
  &.trailingicon:disabled .Placeholder,
  &.trailingicon:disabled .platformEye,
  &.leadingicon.trailingicon:disabled .platformKey,
  &.leadingicon.trailingicon:disabled .Placeholder,
  &.leadingicon.trailingicon:disabled .platformEye,
  &.filled:disabled .Font,
  &.leadingicon.filled:disabled .platformKey,
  &.leadingicon.filled:disabled .Font,
  &.filled.trailingicon:disabled .Font,
  &.filled.trailingicon:disabled .platformEye,
  &.leadingicon.filled.trailingicon:disabled .platformKey,
  &.leadingicon.filled.trailingicon:disabled .platformEye {
    color: rgba(204, 204, 204, 1);
  }

  &.leadingicon.trailingicon .Font,
  &.filled .Font,
  &.leadingicon.filled .platformKey,
  &.leadingicon.filled .Font,
  &.filled.trailingicon .Font,
  &.filled.trailingicon .platformEye,
  &.leadingicon.filled.trailingicon .platformKey,
  &.leadingicon.filled.trailingicon .Font,
  &.leadingicon.filled.trailingicon .platformEye,
  &:disabled .Font,
  &.leadingicon:disabled .Font,
  &.trailingicon:disabled .Font,
  &.leadingicon.trailingicon:disabled .Font,
  &:hover .leaingIcon,
  &:hover .closeIcon,
  &:hover .trailingIcon,
  &.leadingicon:hover .closeIcon,
  &.leadingicon:hover .trailingIcon,
  &.trailingicon:hover .leaingIcon,
  &.trailingicon:hover .closeIcon,
  &.leadingicon.trailingicon:hover .Font,
  &.leadingicon.trailingicon:hover .CloseIcon,
  &.filled:hover .LeaingIcon,
  &.filled:hover .Font,
  &.filled:hover .CloseIcon,
  &.filled:hover .TrailingIcon,
  &.leadingicon.filled:hover .platformKey,
  &.leadingicon.filled:hover .Font,
  &.leadingicon.filled:hover .CloseIcon,
  &.leadingicon.filled:hover .TrailingIcon,
  &.filled.trailingicon:hover .LeaingIcon,
  &.filled.trailingicon:hover .Font,
  &.filled.trailingicon:hover .CloseIcon,
  &.filled.trailingicon:hover .platformEye,
  &.leadingicon.filled.trailingicon:hover .platformKey,
  &.leadingicon.filled.trailingicon:hover .Font,
  &.leadingicon.filled.trailingicon:hover .CloseIcon,
  &.leadingicon.filled.trailingicon:hover .platformEye,
  &.active .LeaingIcon,
  &.active .Font,
  &.active .CloseIcon,
  &.active .TrailingIcon,
  &.leadingicon.active .platformKey,
  &.leadingicon.active .Font,
  &.leadingicon.active .CloseIcon,
  &.leadingicon.active .TrailingIcon,
  &.trailingicon.active .LeaingIcon,
  &.trailingicon.active .Font,
  &.trailingicon.active .CloseIcon,
  &.trailingicon.active .platformEye,
  &.leadingicon.trailingicon.active .platformKey,
  &.leadingicon.trailingicon.active .Font,
  &.leadingicon.trailingicon.active .CloseIcon,
  &.leadingicon.trailingicon.active .platformEye,
  &.filled.closeicon.active .LeaingIcon,
  &.filled.closeicon.active .Font,
  &.filled.closeicon.active .TrailingIcon,
  &.filled.closeicon.active .platformCross,
  &.leadingicon.filled.closeicon.active .platformKey,
  &.leadingicon.filled.closeicon.active .Font,
  &.leadingicon.filled.closeicon.active .TrailingIcon,
  &.leadingicon.filled.closeicon.active .platformCross,
  &.filled.closeicon.trailingicon.active .LeaingIcon,
  &.filled.closeicon.trailingicon.active .Font,
  &.filled.closeicon.trailingicon.active .platformCross,
  &.filled.closeicon.trailingicon.active .platformEye,
  &.leadingicon.filled.closeicon.trailingicon.active .platformKey,
  &.leadingicon.filled.closeicon.trailingicon.active .Font,
  &.leadingicon.filled.closeicon.trailingicon.active .platformCross,
  &.leadingicon.filled.closeicon.trailingicon.active .platformEye,
  &.filled.error .Font,
  &.leadingicon.filled.error .platformKey,
  &.leadingicon.filled.error .Font,
  &.filled.trailingicon.error .Font,
  &.filled.trailingicon.error .platformEye,
  &.leadingicon.filled.trailingicon.error .platformKey,
  &.leadingicon.filled.trailingicon.error .Font,
  &.leadingicon.filled.trailingicon.error .platformEye,
  &.filled:hover.error .LeaingIcon,
  &.filled:hover.error .Font,
  &.filled:hover.error .CloseIcon,
  &.filled:hover.error .TrailingIcon,
  &.leadingicon.filled:hover.error .platformKey,
  &.leadingicon.filled:hover.error .Font,
  &.leadingicon.filled:hover.error .CloseIcon,
  &.leadingicon.filled:hover.error .TrailingIcon,
  &.filled.trailingicon:hover.error .LeaingIcon,
  &.filled.trailingicon:hover.error .Font,
  &.filled.trailingicon:hover.error .CloseIcon,
  &.filled.trailingicon:hover.error .platformEye,
  &.leadingicon.filled.trailingicon:hover.error .platformKey,
  &.leadingicon.filled.trailingicon:hover.error .Font,
  &.leadingicon.filled.trailingicon:hover.error .CloseIcon,
  &.leadingicon.filled.trailingicon:hover.error .platformEye,
  &.filled.closeicon.active.error .LeaingIcon,
  &.filled.closeicon.active.error .Font,
  &.filled.closeicon.active.error .TrailingIcon,
  &.filled.closeicon.active.error .platformCross,
  &.leadingicon.filled.closeicon.active.error .platformKey,
  &.leadingicon.filled.closeicon.active.error .Font,
  &.leadingicon.filled.closeicon.active.error .TrailingIcon,
  &.leadingicon.filled.closeicon.active.error .platformCross,
  &.filled.closeicon.trailingicon.active.error .LeaingIcon,
  &.filled.closeicon.trailingicon.active.error .Font,
  &.filled.closeicon.trailingicon.active.error .platformCross,
  &.filled.closeicon.trailingicon.active.error .platformEye,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformKey,
  &.leadingicon.filled.closeicon.trailingicon.active.error .Font,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformCross,
  &.leadingicon.filled.closeicon.trailingicon.active.error .platformEye {
    color: rgba(51, 51, 51, 1);
  }

  &:hover,
  &.leadingicon:hover,
  &.trailingicon:hover,
  &.leadingicon.trailingicon:hover,
  &.filled:hover,
  &.leadingicon.filled:hover,
  &.filled.trailingicon:hover,
  &.leadingicon.filled.trailingicon:hover,
  &.active,
  &.leadingicon.active,
  &.trailingicon.active,
  &.leadingicon.trailingicon.active,
  &.filled.closeicon.active,
  &.leadingicon.filled.closeicon.active,
  &.filled.closeicon.trailingicon.active,
  &.leadingicon.filled.closeicon.trailingicon.active {
    border: 1px solid rgba(0, 125, 50, 1);
  }

  &.filled.error,
  &.leadingicon.filled.error,
  &.filled.trailingicon.error,
  &.leadingicon.filled.trailingicon.error,
  &.filled:hover.error,
  &.leadingicon.filled:hover.error,
  &.filled.trailingicon:hover.error,
  &.leadingicon.filled.trailingicon:hover.error,
  &.filled.closeicon.active.error,
  &.leadingicon.filled.closeicon.active.error,
  &.filled.closeicon.trailingicon.active.error,
  &.leadingicon.filled.closeicon.trailingicon.active.error {
    border: 1px solid rgba(207, 69, 52, 1);
  }

  ,
  &.leadingicon,
  &.trailingicon,
  &.leadingicon.trailingicon,
  &.filled,
  &.leadingicon.filled,
  &.filled.trailingicon,
  &.leadingicon.filled.trailingicon,
  &:disabled,
  &.leadingicon:disabled,
  &.trailingicon:disabled,
  &.leadingicon.trailingicon:disabled,
  &.filled:disabled,
  &.leadingicon.filled:disabled,
  &.filled.trailingicon:disabled,
  &.leadingicon.filled.trailingicon:disabled {
    border: none;
  }

  ,
  &.leadingicon,
  &.trailingicon,
  &.leadingicon.trailingicon,
  &.filled,
  &.leadingicon.filled,
  &.filled.trailingicon,
  &.leadingicon.filled.trailingicon,
  &:hover,
  &.leadingicon:hover,
  &.trailingicon:hover,
  &.leadingicon.trailingicon:hover,
  &.filled:hover,
  &.leadingicon.filled:hover,
  &.filled.trailingicon:hover,
  &.leadingicon.filled.trailingicon:hover,
  &.active,
  &.leadingicon.active,
  &.trailingicon.active,
  &.leadingicon.trailingicon.active,
  &.filled.closeicon.active,
  &.leadingicon.filled.closeicon.active,
  &.filled.closeicon.trailingicon.active,
  &.leadingicon.filled.closeicon.trailingicon.active,
  &.filled.error,
  &.leadingicon.filled.error,
  &.filled.trailingicon.error,
  &.leadingicon.filled.trailingicon.error,
  &.filled:hover.error,
  &.leadingicon.filled:hover.error,
  &.filled.trailingicon:hover.error,
  &.leadingicon.filled.trailingicon:hover.error,
  &.filled.closeicon.active.error,
  &.leadingicon.filled.closeicon.active.error,
  &.filled.closeicon.trailingicon.active.error,
  &.leadingicon.filled.closeicon.trailingicon.active.error {
    background: rgba(238, 238, 238, 1);
  }

  &:disabled,
  &.leadingicon:disabled,
  &.trailingicon:disabled,
  &.leadingicon.trailingicon:disabled,
  &.filled:disabled,
  &.leadingicon.filled:disabled,
  &.filled.trailingicon:disabled,
  &.leadingicon.filled.trailingicon:disabled {
    background: rgba(240, 240, 240, 1);
  }

  &.leadingicon.trailingicon,
  &.filled,
  &.leadingicon.filled,
  &.filled.trailingicon,
  &.leadingicon.filled.trailingicon,
  &.filled.error,
  &.leadingicon.filled.error,
  &.filled.trailingicon.error,
  &.leadingicon.filled.trailingicon.error {
    color: rgba(132, 132, 132, 1);
  }

  &:disabled,
  &.leadingicon:disabled,
  &.trailingicon:disabled,
  &.leadingicon.trailingicon:disabled,
  &.filled:disabled,
  &.leadingicon.filled:disabled,
  &.filled.trailingicon:disabled {
    color: rgba(190, 190, 190, 1);
  }

  &.leadingicon.filled.trailingicon:disabled {
    color: rgba(204, 204, 204, 1);
  }

  &.leadingicon.filled.closeicon.trailingicon.active,
  &.leadingicon.filled.closeicon.trailingicon.active.error {
    color: rgba(238, 238, 238, 1);
  }

  ,
  &.leadingicon,
  &.trailingicon,
  &:hover,
  &.leadingicon:hover,
  &.trailingicon:hover,
  &.leadingicon.trailingicon:hover,
  &.filled:hover,
  &.leadingicon.filled:hover,
  &.filled.trailingicon:hover,
  &.leadingicon.filled.trailingicon:hover,
  &.active,
  &.leadingicon.active,
  &.trailingicon.active,
  &.leadingicon.trailingicon.active,
  &.filled.closeicon.active,
  &.leadingicon.filled.closeicon.active,
  &.filled.closeicon.trailingicon.active,
  &.filled:hover.error,
  &.leadingicon.filled:hover.error,
  &.filled.trailingicon:hover.error,
  &.leadingicon.filled.trailingicon:hover.error,
  &.filled.closeicon.active.error,
  &.leadingicon.filled.closeicon.active.error,
  &.filled.closeicon.trailingicon.active.error {
    color: rgba(51, 51, 51, 1);
  }

}