// Button // -----------------------------

@mixin button {


  &.type-primary.style-filled,
  &.type-secondary.style-filled,
  &.type-secondary.style-bordered,
  &.type-secondary.style-bordered:hover,
  &.type-secondary.style-bordered:disabled,
  &.type-primary.style-filled:hover,
  &.type-primary.style-filled:disabled,
  &.type-primary.style-bordered,
  &.type-primary.style-bordered:hover {
    width: auto;
    height: 35px;
    padding: 15px 15px 15px 15px;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: none;
    flex-direction: row;
  }

  &.type-primary.style-bordered:hover {
    border: 1px solid rgba(14, 136, 143, 1);
  }

  &.type-secondary.style-bordered:hover {
    border: 1px solid rgba(172, 13, 175, 1);
  }

  &.type-secondary.style-bordered {
    border: 1px solid rgba(225, 32, 229, 1);
  }

  &.type-secondary.style-bordered:disabled {
    border: 1px solid rgba(245, 182, 246, 1);
  }

  &.type-primary.style-bordered {
    border: 1px solid rgba(34, 198, 209, 1);
  }

  &.type-primary.style-filled,
  &.type-secondary.style-filled,
  &.type-primary.style-filled:hover,
  &.type-primary.style-filled:disabled {
    border: none;
  }

  &.type-primary.style-filled:hover {
    background: rgba(14, 136, 143, 1);
  }

  &.type-primary.style-filled:disabled {
    background: rgba(184, 221, 224, 1);
    color: rgba(184, 221, 224, 1);
  }

  &.type-secondary.style-filled {
    background: rgba(225, 32, 229, 1);
  }

  &.type-primary.style-filled {
    background: rgba(34, 198, 209, 1);
  }

  &.type-secondary.style-bordered,
  &.type-secondary.style-bordered:hover,
  &.type-secondary.style-bordered:disabled,
  &.type-primary.style-bordered,
  &.type-primary.style-bordered:hover {
    background: transparent;
  }

  &.type-primary.style-filled:hover,
  &.type-primary.style-bordered:hover .Button Text {
    color: rgba(14, 136, 143, 1);
  }

  &.type-secondary.style-bordered:hover .Button Text {
    color: rgba(172, 13, 175, 1);
  }

  &.type-secondary.style-filled,
  &.type-secondary.style-bordered .Button Text {
    color: rgba(225, 32, 229, 1);
  }

  &.type-secondary.style-bordered:disabled .Button Text {
    color: rgba(245, 182, 246, 1);
  }

  &.type-primary.style-filled .Button Text,
  &.type-secondary.style-filled .Button Text,
  &.type-primary.style-filled:hover .Button Text,
  &.type-primary.style-filled:disabled .Button Text {
    color: rgba(255, 255, 255, 1);
  }

  &.type-primary.style-filled,
  &.type-primary.style-bordered .Button Text {
    color: rgba(34, 198, 209, 1);
  }

  &.type-primary.style-filled .Button Text,
  &.type-secondary.style-filled .Button Text,
  &.type-secondary.style-bordered .Button Text,
  &.type-secondary.style-bordered:hover .Button Text,
  &.type-secondary.style-bordered:disabled .Button Text,
  &.type-primary.style-filled:hover .Button Text,
  &.type-primary.style-filled:disabled .Button Text,
  &.type-primary.style-bordered .Button Text,
  &.type-primary.style-bordered:hover .Button Text {
    font-family: Roboto;
    line-height: 14.0625px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

}