// Checkbox // -----------------------------

@mixin checkbox {
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  gap: 0px;
  box-shadow: none;
  color: rgba(255, 255, 255, 1);

  &.indeterminate.indeterminateType-checkedType .partialElement,
  &:hover.indeterminate.indeterminateType-checkedType .partialElement,
  &.disabled.indeterminate.indeterminateType-checkedType .partialElement,
  &.indeterminate.indeterminateType-exceptedType .partialElement,
  &:hover.indeterminate.indeterminateType-exceptedType .partialElement,
  &.disabled.indeterminate.indeterminateType-exceptedType .partialElement {
    width: 12px;
    height: 12px;
  }

  &.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2,
  &:hover.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2,
  &.disabled.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2 {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
  }

  .platformCheckboxMixed2 {
    padding: 0px 0px 0px 0px;
    border: none;
    align-items: top;
    justify-content: left;
    gap: 0px;
    box-shadow: none;
  }

  .partialElement {
    border-radius: 1px;
  }

  &.indeterminate.indeterminateType-checkedType .partialElement,
  &:hover.indeterminate.indeterminateType-checkedType .partialElement {
    background: rgba(0, 125, 50, 1);
    color: rgba(0, 125, 50, 1);
  }

  &.disabled.indeterminate.indeterminateType-checkedType .partialElement {
    background: rgba(128, 197, 162, 1);
  }

  &.indeterminate.indeterminateType-exceptedType .partialElement,
  &:hover.indeterminate.indeterminateType-exceptedType .partialElement {
    background: rgba(193, 64, 49, 1);
    color: rgba(193, 64, 49, 1);
  }

  &.disabled.indeterminate.indeterminateType-exceptedType .partialElement {
    background: rgba(217, 132, 122, 1);
  }

  &.checked .iw-icon,
  &:hover.checked .iw-icon,
  &.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2,
  &:hover.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2 {
    color: rgba(0, 140, 70, 1);
  }

  &.disabled.checked .iw-icon,
  &.disabled.indeterminate.indeterminateType-checkedType .partialElement,
  &.disabled.indeterminate.indeterminateType-mixedType .platformCheckboxMixed2 {
    color: rgba(128, 197, 162, 1);
  }

  &.disabled.readonly .iw-icon {
    color: rgba(148, 176, 208, 1);
  }

  &.except .iw-icon,
  &:hover.except .iw-icon {
    color: rgba(207, 69, 52, 1);
  }

  &.disabled.indeterminate.indeterminateType-exceptedType .partialElement,
  &.disabled.except .iw-icon {
    color: rgba(217, 132, 122, 1);
  }

  &.readonly .iw-icon,
  &:hover.readonly .iw-icon {
    color: rgba(70, 131, 201, 1);
  }

  &.checked,
  &.readonly,
  &.except,
  &:hover.except,
  &:hover.readonly,
  &.indeterminate.indeterminateType-checkedType,
  &:hover.indeterminate.indeterminateType-checkedType,
  &:hover.checked,
  &.indeterminate.indeterminateType-exceptedType,
  &:hover.indeterminate.indeterminateType-exceptedType,
  &.indeterminate.indeterminateType-mixedType,
  &:hover.indeterminate.indeterminateType-mixedType {
    border: 1px solid rgba(229, 229, 229, 1);
  }

  &.disabled,
  &.disabled.checked,
  &.disabled.indeterminate.indeterminateType-checkedType,
  &.disabled.indeterminate.indeterminateType-exceptedType,
  &.disabled.readonly,
  &.disabled.except,
  &.disabled.indeterminate.indeterminateType-mixedType {
    border: 1px solid rgba(240, 240, 240, 1);
  }

  &:hover {
    border: none;
    background: rgba(229, 229, 229, 1);
    color: rgba(229, 229, 229, 1);
  }

  &:hover.except,
  &:hover.readonly,
  &:hover.indeterminate.indeterminateType-checkedType,
  &:hover.checked,
  &:hover.indeterminate.indeterminateType-exceptedType,
  &:hover.indeterminate.indeterminateType-mixedType {
    background: rgba(238, 238, 238, 1);
    color: rgba(238, 238, 238, 1);
  }

  &.checked,
  &.readonly,
  &.except,
  &.indeterminate.indeterminateType-checkedType,
  &.disabled,
  &.disabled.checked,
  &.disabled.indeterminate.indeterminateType-checkedType,
  &.indeterminate.indeterminateType-exceptedType,
  &.disabled.indeterminate.indeterminateType-exceptedType,
  &.disabled.readonly,
  &.disabled.except,
  &.indeterminate.indeterminateType-mixedType,
  &.disabled.indeterminate.indeterminateType-mixedType {
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
  }

}