// Input // -----------------------------

@mixin input {
  width: 100%;
  height: 36px;
  padding: 6px 8px 6px 8px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 2px;
  background: rgba(238, 238, 238, 1);
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-shadow: none;
  color: rgba(238, 238, 238, 1);
  flex-direction: row;

   input,
  &:disabled,
  &:disabled input,
  &:hover,
  &:hover input,
  &.active,
  &.active input,
  &.trailingIcon,
  &.trailingIcon input,
  &.trailingIcon:disabled,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover,
  &.trailingIcon:hover input,
  &.trailingIcon.active,
  &.trailingIcon.active input,
  &.leadingIcon,
  &.leadingIcon input,
  &.leadingIcon:disabled,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover,
  &.leadingIcon:hover input,
  &.leadingIcon.active,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active,
  &.leadingIcon.trailingIcon.active input,
  &.filled,
  &.filled input,
  &.filled:disabled,
  &.filled:disabled input,
  &.filled:hover,
  &.filled:hover input,
  &.filled.closeIcon.active,
  &.filled.closeIcon.active input,
  &.filled.trailingIcon,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error,
  &.error input,
  &:hover.error,
  &:hover.error input,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error,
  &.filled.closeIcon.active.error input,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled:hover.error,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error,
  &.filled.error input,
  &.filled:hover.error,
  &.filled:hover.error input {
    width: 100%;
  }

  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon {
    width: 20px;
    height: 20px;
  }

  input {
    width: 339px;
    height: 24px;
  }

  &.leadingIcon.filled.error input,
  &.filled.closeIcon.trailingIcon.active.error input {
    height: 22px;
  }

  &:disabled,
  &:hover,
  &.active,
  &.trailingIcon,
  &.trailingIcon:disabled,
  &.trailingIcon:hover,
  &.trailingIcon.active,
  &.leadingIcon,
  &.leadingIcon:disabled,
  &.leadingIcon:hover,
  &.leadingIcon.active,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon.active,
  &.filled,
  &.filled:disabled,
  &.filled:hover,
  &.filled.closeIcon.active,
  &.filled.trailingIcon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:hover,
  &.leadingIcon.filled,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.error,
  &:hover.error,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon:hover.error,
  &.filled.closeIcon.active.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled:hover.error,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.closeIcon.active.error,
  &.filled.error,
  &.filled:hover.error {
    height: 36px;
    padding: 6px 8px 6px 8px;
    border-radius: 2px;
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover input,
  &.trailingIcon.active input,
  &.leadingIcon input,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover input,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error input,
  &.leadingIcon.filled:hover.error input,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input {
    height: auto;
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon input,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover input,
  &.trailingIcon.active input,
  &.leadingIcon input,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover input,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    padding: 0px 0px 0px 0px;
  }

  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon .iw-icon,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon {
    padding: 2px 2px 2px 2px;
    justify-content: center;
  }

  &:hover,
  &.active,
  &.trailingIcon:hover,
  &.trailingIcon.active,
  &.leadingIcon:hover,
  &.leadingIcon.active,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon.active,
  &.filled:hover,
  &.filled.closeIcon.active,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.trailingIcon:hover,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled.trailingIcon:hover {
    border: 1px solid rgba(0, 125, 50, 1);
  }

  &.error,
  &:hover.error,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon:hover.error,
  &.filled.closeIcon.active.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled:hover.error,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.closeIcon.active.error,
  &.filled.error,
  &.filled:hover.error {
    border: 1px solid rgba(207, 69, 52, 1);
  }

  &.trailingIcon,
  &.leadingIcon,
  &.leadingIcon.trailingIcon,
  &.filled,
  &.filled.trailingIcon,
  &.leadingIcon.filled {
    border: 1px solid rgba(238, 238, 238, 1);
  }

  &:disabled,
  &.trailingIcon:disabled,
  &.leadingIcon:disabled,
  &.leadingIcon.trailingIcon:disabled,
  &.filled:disabled,
  &.filled.trailingIcon:disabled,
  &.leadingIcon.filled:disabled {
    border: 1px solid rgba(240, 240, 240, 1);
    background: rgba(240, 240, 240, 1);
    color: rgba(190, 190, 190, 1);
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon input,
  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled input,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover input,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active input,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon input,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon:hover input,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon input,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover input,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error input,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    border: none;
    background: transparent;
  }

  &.trailingIcon input,
  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon {
    border-radius: 0;
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover input,
  &.trailingIcon.active input,
  &.leadingIcon input,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover input,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error input,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input {
    border-radius: 0px 0px 0px 0px;
  }

  &:hover,
  &.active,
  &.trailingIcon,
  &.trailingIcon:hover,
  &.trailingIcon.active,
  &.leadingIcon,
  &.leadingIcon:hover,
  &.leadingIcon.active,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon.active,
  &.filled,
  &.filled:hover,
  &.filled.closeIcon.active,
  &.filled.trailingIcon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.trailingIcon:hover,
  &.leadingIcon.filled,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.error,
  &:hover.error,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon:hover.error,
  &.filled.closeIcon.active.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled:hover.error,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.closeIcon.active.error,
  &.filled.error,
  &.filled:hover.error {
    background: rgba(238, 238, 238, 1);
  }

  &:disabled,
  &:hover,
  &.active,
  &.trailingIcon,
  &.trailingIcon input,
  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon,
  &.leadingIcon .iw-icon,
  &.leadingIcon:disabled,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:hover,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon.active,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon.active,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.filled,
  &.filled:disabled,
  &.filled:hover,
  &.filled.closeIcon.active,
  &.filled.trailingIcon,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.error,
  &:hover.error,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled:hover.error,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon,
  &.filled.error,
  &.filled:hover.error {
    align-items: center;
    flex-direction: row;
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover input,
  &.trailingIcon.active input,
  &.leadingIcon input,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover input,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    align-items: flex-start;
  }

   input,
  &:disabled,
  &:disabled input,
  &:hover,
  &:hover input,
  &.active,
  &.active input,
  &.trailingIcon,
  &.trailingIcon input,
  &.trailingIcon:disabled,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover,
  &.trailingIcon:hover input,
  &.trailingIcon.active,
  &.trailingIcon.active input,
  &.leadingIcon,
  &.leadingIcon input,
  &.leadingIcon:disabled,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover,
  &.leadingIcon:hover input,
  &.leadingIcon.active,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active,
  &.leadingIcon.trailingIcon.active input,
  &.filled,
  &.filled input,
  &.filled:disabled,
  &.filled:disabled input,
  &.filled:hover,
  &.filled:hover input,
  &.filled.closeIcon.active,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error,
  &.error input,
  &:hover.error,
  &:hover.error input,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error,
  &.filled.error input,
  &.filled:hover.error,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    justify-content: flex-start;
  }

   input,
  &:disabled input,
  &:hover input,
  &.active input,
  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled input,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover input,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active input,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon input,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon:hover input,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon input,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover input,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input,
  &:hover.error input,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error input,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    gap: 0px;
  }

  &:disabled,
  &:hover,
  &.active,
  &.trailingIcon,
  &.trailingIcon input,
  &.trailingIcon:disabled,
  &.trailingIcon:hover,
  &.trailingIcon.active,
  &.leadingIcon,
  &.leadingIcon:disabled,
  &.leadingIcon:hover,
  &.leadingIcon.active,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon.active,
  &.filled,
  &.filled:disabled,
  &.filled:hover,
  &.filled.closeIcon.active,
  &.filled.trailingIcon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:hover,
  &.leadingIcon.filled,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.error,
  &:hover.error,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon:hover.error,
  &.filled.closeIcon.active.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled:hover.error,
  &.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.closeIcon.active.error,
  &.filled.error,
  &.filled:hover.error {
    gap: 10px;
  }

   input,
  &:disabled,
  &:disabled input,
  &:hover,
  &:hover input,
  &.active,
  &.active input,
  &.trailingIcon,
  &.trailingIcon input,
  &.trailingIcon .iw-icon,
  &.trailingIcon:disabled,
  &.trailingIcon:disabled input,
  &.trailingIcon:disabled .iw-icon,
  &.trailingIcon:hover,
  &.trailingIcon:hover input,
  &.trailingIcon:hover .iw-icon,
  &.trailingIcon.active,
  &.trailingIcon.active input,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon,
  &.leadingIcon .iw-icon,
  &.leadingIcon input,
  &.leadingIcon:disabled,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon:hover input,
  &.leadingIcon.active,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon .iw-icon,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon.active input,
  &.filled,
  &.filled input,
  &.filled:disabled,
  &.filled:disabled input,
  &.filled:hover,
  &.filled:hover input,
  &.filled.closeIcon.active,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon,
  &.filled.trailingIcon input,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:disabled,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:disabled .iw-icon,
  &.filled.trailingIcon:hover,
  &.filled.trailingIcon:hover input,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error,
  &.error input,
  &:hover.error,
  &:hover.error input,
  &.filled.trailingIcon.error,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error,
  &.filled.trailingIcon:hover.error input,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error,
  &.filled.error input,
  &.filled:hover.error,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    box-shadow: none;
  }

  &.trailingIcon .iw-icon,
  &.trailingIcon:hover .iw-icon,
  &.leadingIcon .iw-icon,
  &.leadingIcon:hover .iw-icon,
  &.leadingIcon.trailingIcon .iw-icon {
    color: rgba(128, 128, 128, 1);
  }

   input .placeholder,
  &:hover input .placeholder,
  &.trailingIcon,
  &.trailingIcon input .placeholder,
  &.trailingIcon:hover input .placeholder,
  &.leadingIcon,
  &.leadingIcon input .placeholder,
  &.leadingIcon:hover input .placeholder,
  &.leadingIcon.trailingIcon,
  &.leadingIcon.trailingIcon input .placeholder,
  &.leadingIcon.trailingIcon:hover input .placeholder,
  &.filled,
  &.filled.trailingIcon,
  &.leadingIcon.filled,
  &.leadingIcon.filled.trailingIcon,
  &.error,
  &.error input .placeholder,
  &:hover.error input .placeholder,
  &.filled.trailingIcon.error,
  &.leadingIcon.filled.error,
  &.leadingIcon.filled.trailingIcon.error {
    color: rgba(132, 132, 132, 1);
  }

  &:disabled input .placeholder,
  &.trailingIcon:disabled input .placeholder,
  &.trailingIcon:disabled .iw-icon,
  &.leadingIcon:disabled .iw-icon,
  &.leadingIcon:disabled input .placeholder,
  &.leadingIcon.trailingIcon:disabled .iw-icon,
  &.leadingIcon.trailingIcon:disabled input .placeholder,
  &.filled:disabled input,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:disabled .iw-icon,
  &.leadingIcon.filled:disabled .iw-icon,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.trailingIcon:disabled .iw-icon {
    color: rgba(204, 204, 204, 1);
  }

   input,
  &:disabled input,
  &:hover,
  &:hover input,
  &.active,
  &.active input,
  &.trailingIcon input,
  &.trailingIcon:disabled input,
  &.trailingIcon:hover,
  &.trailingIcon:hover input,
  &.trailingIcon.active,
  &.trailingIcon.active input,
  &.trailingIcon.active .iw-icon,
  &.leadingIcon input,
  &.leadingIcon:disabled input,
  &.leadingIcon:hover,
  &.leadingIcon:hover input,
  &.leadingIcon.active,
  &.leadingIcon.active .iw-icon,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:hover,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon.active,
  &.leadingIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:hover,
  &.filled:hover input,
  &.filled.closeIcon.active,
  &.filled.closeIcon.active input,
  &.filled.closeIcon.active .iw-icon,
  &.filled.trailingIcon input,
  &.filled.trailingIcon .iw-icon,
  &.filled.closeIcon.trailingIcon.active,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.closeIcon.trailingIcon.active .iw-icon,
  &.filled.trailingIcon:hover,
  &.filled.trailingIcon:hover input,
  &.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled .iw-icon,
  &.leadingIcon.filled input,
  &.leadingIcon.filled.closeIcon.active,
  &.leadingIcon.filled.closeIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover,
  &.leadingIcon.filled:hover .iw-icon,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover,
  &.leadingIcon.filled.trailingIcon:hover .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon .iw-icon,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active .iw-icon,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &:hover.error,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon.error .iw-icon,
  &.filled.trailingIcon:hover.error,
  &.filled.trailingIcon:hover.error input,
  &.filled.trailingIcon:hover.error .iw-icon,
  &.filled.closeIcon.active.error,
  &.filled.closeIcon.active.error input,
  &.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.error .iw-icon,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error,
  &.leadingIcon.filled:hover.error .iw-icon,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.filled.closeIcon.trailingIcon.active.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error .iw-icon,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error,
  &.leadingIcon.filled.trailingIcon:hover.error .iw-icon,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error,
  &.leadingIcon.filled.closeIcon.active.error .iw-icon,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error,
  &.filled:hover.error input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error,
  &.leadingIcon.filled.closeIcon.trailingIcon.active.error input {
    color: rgba(51, 51, 51, 1);
  }

   input,
   input .placeholder,
  &:disabled input,
  &:disabled input .placeholder,
  &:hover input,
  &:hover input .placeholder,
  &.active input,
  &.trailingIcon input,
  &.trailingIcon input .placeholder,
  &.trailingIcon:disabled input,
  &.trailingIcon:disabled input .placeholder,
  &.trailingIcon:hover input,
  &.trailingIcon:hover input .placeholder,
  &.trailingIcon.active input,
  &.leadingIcon input,
  &.leadingIcon input .placeholder,
  &.leadingIcon:disabled input,
  &.leadingIcon:disabled input .placeholder,
  &.leadingIcon:hover input,
  &.leadingIcon:hover input .placeholder,
  &.leadingIcon.active input,
  &.leadingIcon.trailingIcon input,
  &.leadingIcon.trailingIcon input .placeholder,
  &.leadingIcon.trailingIcon:disabled input,
  &.leadingIcon.trailingIcon:disabled input .placeholder,
  &.leadingIcon.trailingIcon:hover input,
  &.leadingIcon.trailingIcon:hover input .placeholder,
  &.leadingIcon.trailingIcon.active input,
  &.filled input,
  &.filled:disabled input,
  &.filled:hover input,
  &.filled.closeIcon.active input,
  &.filled.trailingIcon input,
  &.filled.closeIcon.trailingIcon.active input,
  &.filled.trailingIcon:disabled input,
  &.filled.trailingIcon:hover input,
  &.leadingIcon.filled input,
  &.leadingIcon.filled:disabled input,
  &.leadingIcon.filled.closeIcon.active input,
  &.leadingIcon.filled:hover input,
  &.leadingIcon.filled.trailingIcon:hover input,
  &.leadingIcon.filled.trailingIcon:disabled input,
  &.leadingIcon.filled.trailingIcon input,
  &.leadingIcon.filled.closeIcon.trailingIcon.active input,
  &.error input .placeholder,
  &:hover.error input .placeholder,
  &.filled.trailingIcon.error input,
  &.filled.trailingIcon:hover.error input,
  &.filled.closeIcon.active.error input,
  &.leadingIcon.filled.error input,
  &.leadingIcon.filled:hover.error input,
  &.filled.closeIcon.trailingIcon.active.error input,
  &.leadingIcon.filled.trailingIcon.error input,
  &.leadingIcon.filled.trailingIcon:hover.error input,
  &.leadingIcon.filled.closeIcon.active.error input,
  &.filled.error input,
  &.filled:hover.error input {
    font-family: Roboto;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
  }

}