// Radiobutton // -----------------------------

@mixin radiobutton {
  width: 17px;
  height: 17px;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 0px;
  box-shadow: none;
  flex-direction: row;

  .indicator {
    width: 9px;
    height: 9px;
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 50px;
    align-items: flex-start;
    justify-content: left;
    gap: 0px;
    box-shadow: none;
  }

  &.checked .indicator,
  &:hover.checked .indicator {
    background: rgba(161, 8, 155, 1);
    color: rgba(161, 8, 155, 1);
  }

  &.disabled.checked .indicator {
    background: rgba(226, 126, 222, 1);
    color: rgba(226, 126, 222, 1);
  }

  &,
  &.checked,
  &:hover.checked,
  &:hover {
    border: 1px solid rgba(229, 229, 229, 1);
  }

  &.disabled,
  &.disabled.checked {
    border: 1px solid rgba(240, 240, 240, 1);
  }

  &:hover.checked,
  &:hover {
    background: rgba(238, 238, 238, 1);
    color: rgba(238, 238, 238, 1);
  }

  &,
  &.checked,
  &.disabled,
  &.disabled.checked {
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
  }

}