// SelectItem // -----------------------------

@mixin selectItem {
  flex-direction: row;
  font-family: Roboto;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;

  &.type-textItem,
  State,
  &.type-textItem.state-hover,
  &.type-textItem.state-selected,
  &.type-avatarItem.state-default,
  &.type-avatarItem.state-hover,
  &.type-avatarItem.state-selected {
    width: 100%;
    padding: 0px 16px 0px 16px;
    align-items: center;
    color: rgba(0, 0, 0, 1);
  }

  &.type-avatarItem.state-default .avatar,
  &.type-avatarItem.state-hover .avatar,
  &.type-avatarItem.state-selected .avatar {
    width: 30px;
    color: rgba(255, 255, 255, 1);
  }

  &.type-avatarItem.state-default .avatar .photo,
  &.type-avatarItem.state-hover .avatar .photo,
  &.type-avatarItem.state-selected .avatar .photo {
    width: auto;
    height: auto;
    background: transparent;
    color: transparent;
  }

  &.type-textItem,
  State,
  &.type-textItem.state-hover,
  &.type-textItem.state-selected,
  &.type-avatarItem.state-default .avatar,
  &.type-avatarItem.state-hover .avatar,
  &.type-avatarItem.state-selected .avatar {
    height: 30px;
  }

  &.type-avatarItem.state-default,
  &.type-avatarItem.state-hover,
  &.type-avatarItem.state-selected {
    height: 44px;
    gap: 8px;
  }

  &.type-avatarItem.state-default .avatar,
  &.type-avatarItem.state-default .avatar .photo,
  &.type-avatarItem.state-hover .avatar,
  &.type-avatarItem.state-hover .avatar .photo,
  &.type-avatarItem.state-selected .avatar,
  &.type-avatarItem.state-selected .avatar .photo {
    padding: 0px 0px 0px 0px;
    align-items: flex-start;
    gap: 0px;
  }

  &.type-textItem,
  State,
  &.type-textItem.state-hover,
  &.type-textItem.state-selected,
  &.type-avatarItem.state-default,
  &.type-avatarItem.state-default .avatar,
  &.type-avatarItem.state-default .avatar .photo,
  &.type-avatarItem.state-hover,
  &.type-avatarItem.state-hover .avatar,
  &.type-avatarItem.state-hover .avatar .photo,
  &.type-avatarItem.state-selected,
  &.type-avatarItem.state-selected .avatar,
  &.type-avatarItem.state-selected .avatar .photo {
    border: none;
    border-radius: 0;
    justify-content: flex-start;
    box-shadow: none;
  }

  &.type-textItem.state-selected,
  &.type-avatarItem.state-selected {
    background: rgba(204, 204, 204, 1);
  }

  &.type-textItem.state-hover,
  &.type-avatarItem.state-hover {
    background: rgba(238, 238, 238, 1);
  }

  &.type-textItem,
  State,
  &.type-avatarItem.state-default,
  &.type-avatarItem.state-default .avatar,
  &.type-avatarItem.state-hover .avatar,
  &.type-avatarItem.state-selected .avatar {
    background: rgba(255, 255, 255, 1);
  }

  &.type-textItem,
  State,
  &.type-textItem.state-hover,
  &.type-textItem.state-selected {
    gap: 10px;
  }

}